.content-wrapper {
  width: 60rem;
  height: fit-content;
  max-height: 65rem;
  background: #8f94fb;
  border: 1.3rem solid white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2rem;
  color: white;
}
