.content-wrapper {
  width: 70rem;
  height: 50rem;
  background: #8f94fb;
  border: 1.3rem solid white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding: 2rem;
  color: white;
}
